{{> header }}

<style>
.container {
  width: 70%;
  margin: 0 auto;
}
</style>

<div class="container">
  <div class="jumbotron">
    <h1> Welcome to Bloom, Terra </h1>
    <h2>Introducing a system that encourages humanity to bring back biodiversity.</h2>
    <p2>As the earth is experiencing a massive loss in biodiversity and a variation of species at an alarmingly fast rate, we can change the fate of our habitat together.</p2>
    
    
    <p></p>
    <a href="/login" class="btn btn-info" role="button">Login</a>
    <a href="/signup" class="btn btn-info" role="button">Sign Up</a>
  </div>
</div>