{{> header }}

<style>
.container {
  width: 70%;
  margin: 0 auto;
}
</style>

<div class="container">
  <div class="jumbotron">
    <h1> Welcome to Bloom, Terra </h1>
    <a href="/login" class="btn btn-info" role="button">Login</a>
    <a href="/signup" class="btn btn-info" role="button">Sign Up</a>
  </div>
</div>