{{> header }}

h1>Dummy Profile Page</h1>

<h3>You have successfully logged in to your profile page</h3>

<h3>However, the user profile page is still under development :(</h3>

<p>We are working on it and you will soon be able to create beautiful blooms!</p>
